@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [data-theme="light"] {
    --color-transparent: transparent;
    --color-gray: 161 164 170;
    --color-info: 145 140 237;
    --color-active: 145 140 242;
    --color-primary: 252 252 253;
    --color-secondary: 246 247 249;
    --color-error: 239 68 68;
    --color-warning: 253 224 71;
    --color-success: 16 185 129;
    --color-contrast: 14 16 21;
  }

  [data-theme="dark"] {
    --color-transparent: transparent;
    --color-gray: 161 164 170;
    --color-info: 145 140 237;
    --color-active: 145 140 242;
    --color-primary: 14 16 21;
    --color-secondary: 20 23 31;
    --color-error: 239 68 68;
    --color-warning: 253 224 71;
    --color-success: 16 185 129;
    --color-contrast: 252 252 253;
  }
}
