.image-container {
  width: 100%;
  border: none;
  background-color: transparent;
}

.image-container div {
  position: unset !important;
}

.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}